@import '~node_modules/modern-normalize/modern-normalize.css';

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

h1,
h2,
h3,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
}

body {
    margin: 0;
    font-family: var(--primary-font-family);
    font-style: normal;
    letter-spacing: 0.04em;
    color: var(--text-color-theme-light);
    background-color: #ffffff;
}

.list {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
}

.btn {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
    cursor: pointer;
}