@import './base/common';
@import './base/container';

@import './components/modal-window';
@import './components/modal-readmore';

@import './utils/variables';
@import './utils/mixins';
@import './utils/placeholders';
@import './utils/visually-hidden';
@import './utils/keyframes';

@import './layout/header';
@import './layout/mobile-menu';
@import './layout/hero';
@import './layout/products';
@import './layout/about';
@import './layout/advantages';
@import './layout/gallery';
@import './layout/customer-reviews';
@import './layout/contacts';
@import './layout/footer';
