:root {
    --primary-font-family: 'DM Sans', sans-serif;
    --secondary-font-family: 'Titan One', sans-serif;
    --primary-accent-color: #d41443;
    --secondary-accent-color: #ffa5ba;
    --text-color-theme-dark: #ffffff;
    --text-color-theme-light: #000000;
    --text-color-secondary: #907E82;
    --accent-bg-color: #fff5f6;
    --section-border-radius: 24px;
    --primary-cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
}