<section class="section about" id="about">
    <div class="container">
        <p class="about__subtitle">tradition and love</p>
        <h2 class="about__title">how it's made?</h2>
        <div class="about__wrapper">
            <picture class="about__picture">
                <source srcset="
            ./images/about/desktop-about-cow.png    1x,
            ./images/about/desktop-about-cow@2x.png 2x
          " media="(min-width: 1280px)" />
                <source srcset="
            ./images/about/tablet-about-cow.png    1x,
            ./images/about/tablet-about-cow@2x.png 2x
          " media="(min-width: 768px)" />
                <source srcset="
            ./images/about/mobile-about-cow.png    1x,
            ./images/about/mobile-about-cow@2x.png 2x
          " media="(max-width: 767px)" />
                <img src="./images/about/mobile-about-cow.png" alt="Корова и молоко" max-width="280" max-height="280"
                    class="about__img" />
            </picture>
            <ul class="about__list list">
                <li class="about__half">
                    <p class="about__half-article-1">
                        Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel
                        justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend
                        erat at justo fringilla.
                    </p>
                    <p class="about__half-article-2">
                        Curabitur lacinia enim at ex blandit, vel pellentesque odio
                        elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum
                        euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras
                        massa nibh, tincidunt.
                        <span> Aliquam erat volutpat. Aenean accumsan. </span>
                    </p>
                </li>
                <li class="about__half">
                    <button type="button" class="about-btn" data-modal-open>
                        Read more
                        <svg class="about-btn__svg" width="4px" height="8px">
                            <use href="../src/images/icons/icons.svg#icon-arrow-right-mini"></use>
                        </svg>
                    </button>
                </li>
            </ul>
        </div>
    </div>
</section>