<section class="customer-reviews__section section">
  <h2 class="visually-hidden">Customer reviews</h2>
  <div class="container swiper mySwiper">
    <div class="slider swiper-wrapper">
      <div class="customer-reviews-container swiper-slide customer-item">
        <img
          class="customer-reviews__photo"
          srcset="
            ./images/customer-reviews/emily.jpg    1x,
            ./images/customer-reviews/emily@2x.jpg 2x
          "
          src="./images/customer-reviews/emily.jpg"
          alt="customer photo"
          width="85"
          height="85"
        />
        <div class="customer-reviews__reviews-container">
          <div class="customer-reviews__rows"></div>
          <article class="customer-reviews__reviews">
            <h3 class="visually-hidden">Emily</h3>
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
            ipsum primis in nibh vel risus.
          </article>
        </div>
        <div class="customer-reviews__name-container">
          <p class="customer-reviews__name">Emily, Los Angeles</p>
        </div>
      </div>
      <div class="customer-reviews-container swiper-slide">
        <img
          class="customer-reviews__photo"
          srcset="
            ./images/customer-reviews/barbara.jpg    1x,
            ./images/customer-reviews/barbara@2x.jpg 2x
          "
          src="./images/customer-reviews/emily.jpg"
          alt="customer photo"
          width="85"
          height="85"
        />
        <div class="customer-reviews__reviews-container">
          <div class="customer-reviews__rows"></div>
          <article class="customer-reviews__reviews">
            <h3 class="visually-hidden">Barbara</h3>
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
            ipsum primis in nibh vel risus.
          </article>
        </div>
        <div class="customer-reviews__name-container">
          <p class="customer-reviews__name">Barbara, Los Angeles</p>
        </div>
      </div>
      <div class="customer-reviews-container swiper-slide">
        <img
          class="customer-reviews__photo"
          srcset="
            ./images/customer-reviews/julia.jpg    1x,
            ./images/customer-reviews/julia@2x.jpg 2x
          "
          src="./images/customer-reviews/julia.jpg"
          alt="customer photo"
          width="85"
          height="85"
        />
        <div class="customer-reviews__reviews-container">
          <div class="customer-reviews__rows"></div>
          <article class="customer-reviews__reviews">
            <h3 class="visually-hidden">Julia</h3>
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
            ipsum primis in nibh vel risus.
          </article>
        </div>
        <div class="customer-reviews__name-container">
          <p class="customer-reviews__name">Julia, Los Angeles</p>
        </div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</section>
