<section class="gallery">
  <div class="container">
    <h2 class="gallery__title visually-hidden">Gallery</h2>
    <div class="masonry-container">
      <div class="row">
        <div class="col-md-2 col-sm-2 col-xs-2 gallery__item">
          <picture class="gallery__picture">
            <source
              srcset="
                ./images/gallery/desktop-gallery-img-1.png    1x,
                ./images/gallery/desktop-gallery-img-1@2x.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/gallery/tablet-gallery-img-1.png    1x,
                ./images/gallery/tablet-gallery-img-1@2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/gallery/mobile-gallery-img-1.png    1x,
                ./images/gallery/mobile-gallery-img-1@2x.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./images/gallery/mobile-gallery-img-1.png"
              alt="Фисташковое мороженое на палочке"
              max-width="44"
              max-height="44"
              class="gallery__img"
            />
          </picture>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-2 gallery__item">
          <picture class="gallery__picture">
            <source
              srcset="
                ./images/gallery/desktop-gallery-img-2.png    1x,
                ./images/gallery/desktop-gallery-img-2@2x.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/gallery/tablet-gallery-img-2.png    1x,
                ./images/gallery/tablet-gallery-img-2@2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/gallery/mobile-gallery-img-2.png    1x,
                ./images/gallery/mobile-gallery-img-2@2x.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./images/gallery/mobile-gallery-img-2.png"
              alt="Клубничное мороженое"
              max-width="44"
              max-height="44"
              class="gallery__img"
            />
          </picture>
          <picture class="gallery__picture">
            <source
              srcset="
                ./images/gallery/desktop-gallery-img-3.png    1x,
                ./images/gallery/desktop-gallery-img-3@2x.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/gallery/tablet-gallery-img-3.png    1x,
                ./images/gallery/tablet-gallery-img-3@2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/gallery/mobile-gallery-img-3.png    1x,
                ./images/gallery/mobile-gallery-img-3@2x.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./images/gallery/mobile-gallery-img-3.png"
              alt="Малиновое мороженое"
              max-width="44"
              max-height="44"
              class="gallery__img"
            />
          </picture>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4 gallery__item">
          <picture class="gallery__picture">
            <source
              srcset="
                ./images/gallery/desktop-gallery-img-4.png    1x,
                ./images/gallery/desktop-gallery-img-4@2x.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/gallery/tablet-gallery-img-4.png    1x,
                ./images/gallery/tablet-gallery-img-4@2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/gallery/mobile-gallery-img-4.png    1x,
                ./images/gallery/mobile-gallery-img-4@2x.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./images/gallery/mobile-gallery-img-4.png"
              alt="Все виды мороженого"
              max-width="88"
              max-height="88"
              class="gallery__img"
            />
          </picture>
          <picture class="gallery__picture">
            <source
              srcset="
                ./images/gallery/desktop-gallery-img-5.png    1x,
                ./images/gallery/desktop-gallery-img-5@2x.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/gallery/tablet-gallery-img-5.png    1x,
                ./images/gallery/tablet-gallery-img-5@2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/gallery/mobile-gallery-img-5.png    1x,
                ./images/gallery/mobile-gallery-img-5@2x.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./images/gallery/mobile-gallery-img-5.png"
              alt="Довольный покупатель со сливочным мороженым"
              max-width="44"
              max-height="44"
              class="gallery__img"
            />
          </picture>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-2 gallery__item">
          <picture class="gallery__picture">
            <source
              srcset="
                ./images/gallery/desktop-gallery-img-6.png    1x,
                ./images/gallery/desktop-gallery-img-6@2x.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/gallery/tablet-gallery-img-6.png    1x,
                ./images/gallery/tablet-gallery-img-6@2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/gallery/mobile-gallery-img-6.png    1x,
                ./images/gallery/mobile-gallery-img-6@2x.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./images/gallery/mobile-gallery-img-6.png"
              alt="Мороженое со свежими фруктами"
              max-width="44"
              max-height="44"
              class="gallery__img"
            />
          </picture>
          <picture class="gallery__picture">
            <source
              srcset="
                ./images/gallery/desktop-gallery-img-7.png    1x,
                ./images/gallery/desktop-gallery-img-7@2x.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/gallery/tablet-gallery-img-7.png    1x,
                ./images/gallery/tablet-gallery-img-7@2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/gallery/mobile-gallery-img-7.png    1x,
                ./images/gallery/mobile-gallery-img-7@2x.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./images/gallery/mobile-gallery-img-7.png"
              alt="Яркое мороженое в рожке со звёздочкой"
              max-width="44"
              max-height="44"
              class="gallery__img"
            />
          </picture>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-2 gallery__item">
          <picture class="gallery__picture">
            <source
              srcset="
                ./images/gallery/desktop-gallery-img-8.png    1x,
                ./images/gallery/desktop-gallery-img-8@2x.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/gallery/tablet-gallery-img-8.png    1x,
                ./images/gallery/tablet-gallery-img-8@2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/gallery/mobile-gallery-img-8.png    1x,
                ./images/gallery/mobile-gallery-img-8@2x.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./images/gallery/mobile-gallery-img-8.png"
              alt="Собачка пробует мороженое в рожке"
              max-width="44"
              max-height="44"
              class="gallery__img"
            />
          </picture>
          <picture class="gallery__picture">
            <source
              srcset="
                ./images/gallery/desktop-gallery-img-9.png    1x,
                ./images/gallery/desktop-gallery-img-9@2x.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/gallery/tablet-gallery-img-9.png    1x,
                ./images/gallery/tablet-gallery-img-9@2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/gallery/mobile-gallery-img-9.png    1x,
                ./images/gallery/mobile-gallery-img-9@2x.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./images/gallery/mobile-gallery-img-9.png"
              alt="Шоколадный милкшейк"
              max-width="44"
              max-height="44"
              class="gallery__img"
            />
          </picture>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-2 gallery__item">
          <picture class="gallery__picture">
            <source
              srcset="
                ./images/gallery/desktop-gallery-img-10.png    1x,
                ./images/gallery/desktop-gallery-img-10@2x.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/gallery/tablet-gallery-img-10.png    1x,
                ./images/gallery/tablet-gallery-img-10@2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/gallery/mobile-gallery-img-10.png    1x,
                ./images/gallery/mobile-gallery-img-10@2x.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./images/gallery/mobile-gallery-img-10.png"
              alt="Милкшейк с пончиком"
              max-width="44"
              max-height="44"
              class="gallery__img"
            />
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>
