<header class="page-header">
  <div class="container page-header__container">
    <a href="/src/index.html" class="logo link page-header__logo">
      <svg class="logo__icon" width="199" height="50">
        <use href="/src/images/icons/icons.svg#icon-logo-icecream"></use>
      </svg>
    </a>
    <nav class="page-header__navigation">
      <ul class="page-header__menu list">
        <li class="page-header__item">
          <a href="" class="link page-header__link page-header__current"
            >Home</a
          >
        </li>
        <li class="page-header__item">
          <a href="#about" class="link page-header__link">About us</a>
        </li>
        <li class="page-header__item">
          <a href="" class="link page-header__link">How it’s made?</a>
        </li>
        <li class="page-header__item">
          <a href="" class="link page-header__link">Our products</a>
        </li>
        <li class="page-header__item">
          <a href="#contact" class="link page-header__link">Contact</a>
        </li>
      </ul>
    </nav>
    <button type="button" class="mobile-menu__burger-btn btn" data-menu-open>
      <svg class="mobile-menu__burger-btn__icon" width="20" height="12">
        <use href="/src/images/icons/icons.svg#icon-burger"></use>
      </svg>
    </button>
    <button
      type="button"
      class="page-header__mobile-menu-btn btn"
      data-modal-open
    >
      <a href="" class="mobile-menu__btn--link"
        >Buy now
        <svg class="page-header__mobile-menu__btn-svg" width="6px" height="8px">
          <use href="../src/images/icons/icons.svg#icon-arrow-right-mini"></use>
        </svg>
      </a>
    </button>
  </div>
</header>
