<section class="hero hero__section">
  <div class="container hero__container">
    <div class="hero__wrapper">
      <div class="hero__titel-wrapper">
        <h1 class="hero__titel">
          ice cream made with <span class="hero__titel-pink">passion</span>
        </h1>
        <ul class="hero__nav-list list">
          <li class="hero__nav-item">
            <a href="" class="hero__nav-link">Products</a>
          </li>
          <li class="hero__nav-item">
            <a href="" class="hero__nav-link second-link">How it’s made?</a>
          </li>
        </ul>
      </div>

      <ul class="hero__cafes-list list">
        <li class="hero__cafes-item">
          <p class="hero__cafes-description">
            16
            <span class="hero__cafes-type">cafes</span>
          </p>
        </li>
        <li class="hero__cafes-item">
          <p class="hero__cafes-description hero__cafes-description-second">
            23
            <span class="hero__cafes-type">food trucks</span>
          </p>
        </li>
      </ul>
    </div>

    <div class="hero__description-wrapper">
      <p class="hero__description-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et
      </p>
      <a href="" class="hero__description-link"> </a>
    </div>
    <ul class="hero__images-list list">
      <li class="hero__images-item">
        <picture class="picture">
          <source
            srcset="
              ./images/hero/hero-milk-desktop.png    1x,
              ./images/hero/hero-milk-desktop@2x.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/hero/hero-milk-tablet.png    1x,
              ./images/hero/hero-milk-tablet@2x.png 2x
            "
            media="(min-width: 768px)"
          />

          <img
            max-width="213"
            max-height="216"
            src="./images/hero/hero-milk-tablet.png"
            alt="молоко"
            class="hero__images hero__milk-img img"
          />
        </picture>
      </li>
      <li class="hero__images-item">
        <picture class="picture">
          <source
            srcset="
              ./images/hero/hero-ice-cream-desktop.png    1x,
              ./images/hero/hero-ice-cream-desktop@2x.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/hero/hero-ice-cream-tablet.png    1x,
              ./images/hero/hero-ice-cream-tablet@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/hero/hero-ice-cream-mobile.png    1x,
              ./images/hero/hero-ice-cream-mobile@2x.png 2x
            "
            media="(max-width: 768px)"
          />
          <img
            max-width="236"
            max-height="557"
            src="./images/hero/hero-ice-cream-mobile.png"
            alt="мороженое"
            class="hero__images hero__ice-cream-img img"
          />
        </picture>
      </li>
      <li class="hero__images-item">
        <picture class="picture">
          <source
            srcset="
              ./images/hero/hero-girl-desktop.png    1x,
              ./images/hero/hero-girl-desktop@2x.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/hero/hero-girl-tablet.png    1x,
              ./images/hero/hero-girl-tablet@2x.png 2x
            "
            media="(min-width: 768px)"
          />

          <img
            max-width="304"
            max-height="241"
            src="./images/hero/hero-girl-tablet.png"
            alt="девушка с мороженым"
            class="hero__images hero__girl-img img"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
