<section class="products container">
    <p class="products__title-label">100% natural</p>
    <h2 class="products__title">products</h2>
    <ul class="products-list list">
    <li class="products-list__item products-list__ice-cream">
    <h3 class="products-list__item-title">ice cream</h3>
    <p class="products-list__item-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
    <button type="button" class="product-list__button btn"></button>
    </li>
    <li class="products-list__item products-list__coffee">
        <h3 class="products-list__item-title">ice coffee</h3>
        <p class="products-list__item-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
        <button type="button" class="product-list__button btn"></button>
    </li>
    <li class="products-list__item products-list__milkshake">
        <h3 class="products-list__item-title">milkshakes</h3>
        <p class="products-list__item-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
        <button type="button" class="product-list__button btn"></button>
    </li>
    </ul>
    </section>