<section class="products" id="Our products">
    <div class="container">
        <p class="products__title-label">100% natural</p>
        <h2 class="products__title">products</h2>
        <ul class="products-list list">
        <li class="products-list__item products-list__ice-cream">
        <h3 class="products-list__item-title">ice cream</h3>
        <p class="products-list__item-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
                    <!-- read more -->
                    <input type="checkbox" id="read-more-1" hidden />
                    <p class="extra-text"
                        >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.</p
                    >
                    <label for="read-more-1" class="read-more">
                        <svg class="btn read-more__button" width="40" height="40">
                            <use href="./images/icons/icons.svg#icon-arrow-right"></use>
                        </svg>
                    </label>
        <!-- /read more -->
        </li>
        <li class="products-list__item products-list__coffee">
            <h3 class="products-list__item-title">ice coffee</h3>
            <p class="products-list__item-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
            <!-- read more -->
            <input type="checkbox" id="read-more-2" hidden />
			<p class="extra-text"
				>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.</p
			>
			<label for="read-more-2" class="read-more">
                <svg class="btn read-more__button" width="40" height="40">
                    <use href="./images/icons/icons.svg#icon-arrow-right"></use>
                </svg>
            </label>
<!-- /read more -->
        </li>
        <li class="products-list__item products-list__milkshake">
            <h3 class="products-list__item-title">milkshakes</h3>
            <p class="products-list__item-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
                        <!-- read more -->
                        <input type="checkbox" id="read-more-3" hidden />
                        <p class="extra-text"
                            >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.</p
                        >
                        <label for="read-more-3" class="read-more">
                            <svg class="btn read-more__button" width="40" height="40">
                                <use href="./images/icons/icons.svg#icon-arrow-right"></use>
                            </svg>
                        </label>
            <!-- /read more -->
        </li>
        </ul>
    </div>
    </section>