.about__subtitle {
    font-family: var(--secondary-font-family);
    @include font(18px, 21px, 400);
    text-align: center;
    text-transform: uppercase;
    color: var(--secondary-accent-color);
    margin-bottom: 15px;
}

.about__title {
    font-family: var(--secondary-font-family);
    @include font(34px, 40px, 400);
    text-align: center;
    text-transform: uppercase;
    color: var(--primary-accent-color);
    margin-bottom: 32px;
}

.about {
    padding-top: 60px;
    padding-bottom: 40px;
    background-color: var(--accent-bg-color);
    background-image: url(../images/about/mobile-bg-img-half1.png), url(../images/about/mobile-bg-img-half2.png);
    background-size: 140px, 140px;
    background-repeat: no-repeat;
    background-position: 20px 594px, 90% 594px;
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .about {
        background-image: url(../images/about/mobile-bg-img-half1@x2.png), url(../images/about/mobile-bg-img-half2@x2.png);
    }
}

.about__picture {
    display: block;
    margin-bottom: 40px;
}

.about__img {
    margin-right: 0px;

}

.about-article{
    font-family: var(--primary-font-family);
    @include font(12px, 19px);
    max-width: 220px;
}

.about-article-1 {
    color: var(--text-color-theme-light);
    margin-bottom: 20px;
    letter-spacing: normal;
    width: 100%;
}

.about-article-2 {
    color: #907E82;
    margin-bottom: 20px;
    letter-spacing: normal;

    & span {
        display: block;
        margin-top: 20px;
    }
}

.about-btn {
    width: 176px;
    height: 44px;
    text-align: center;
    color: var(--primary-accent-color);
    background-color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    margin-right: 0px;
    @include font(16px, 21px, 700);
    display: flex;
    transition: background-color 300ms var(--primary-cubic-bezier);
    border-radius: 22px;
    border: transparent;

    &:hover,
    &:focus {
        background-color: #ECEBEB;
    }
}

.about-btn__svg {
    width: 9px;
    height: 9px;
    fill: none;
    stroke: var(--primary-accent-color);
    stroke-width: 2px;
    justify-content: center;
    margin-left: 12px;
    // align-items: center;
}

// TABLET
@media screen and(min-width:768px) {
    .about {
        background-image: url(../images/about/tablet-bg-img-half1.png), url(../images/about/tablet-bg-img-half2.png);
        background-position: 0% 201px, 100% 201px;
        background-size: 384px, 384px;
    }

    .about .container {
        display: block;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .about {
            background-image: url(../images/about/tablet-bg-img-half1@x2.png), url(../images/about/tablet-bg-img-half2@x2.png);;
        }
    }

    .about__subtitle {
        @include font(26px, 30px, 400);
    }

    .about__title {
        @include font(48px, 55px, 400);
        margin-bottom: 40px;
    }

    .about__wrapper {
        display: flex;
    }

    .about__picture {
        margin-bottom: 0;
        margin-right: 32px;
    }

    .about__img{
        width: 336px;
        height: 336px;
    }

    .about-article{
        font-family: var(--primary-font-family);
        @include font(14px, 25px);
        max-width: 334px;
    }

    .about-article-1 {
        margin-bottom: 20px;
    }

    .about-article-2 {


        & span {
            display: block;
            margin-top: 20px;
        }
    }
}

// DESKTOP
@media screen and(min-width:1280px) {
    .about {
        background-image: url(../images/about/desktop-bg-img-half1.png), url(../images/about/desktop-bg-img-half2.png);
        background-position: 0% 236px, 100% 236px;
        background-size: 600px, 600px;
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .about {
            background-image: url(../images/about/desktop-bg-img-half1@x2.png), url(../images/about/desktop-bg-img-half2@x2.png);
        }
    }

    .about__subtitle {
        @include font(30px, 34px, 400);
        margin-bottom: 15px;
    }

    .about__title {
        @include font(58px, 66px, 400);
        margin-bottom: 60px;
    }

    .about__picture {
        padding-left: 16px;
        padding-bottom: 20px;
        margin-right: auto;
    }

    .about__img{
        width: 501px;
        height: 501px;
    }

    .about-article {
        font-family: var(--primary-font-family);
        @include font(16px, 28px);
        max-width: 463px;
        margin-right: 121px;
    }

    .about-article-1 {
        padding-top: 90px;
        margin-bottom: 32px;
        letter-spacing: 0.04em;
    }

    .about-article-2 {
        letter-spacing: 0.04em;
        margin-bottom: 40px;

        & span {
            display: block;
            margin-top: 32px;
        }
    }
}