.footer {
    padding-top: 40px;
    background-color: var(--accent-bg-color);
}

.footer__box {
    margin-bottom: 40px;
}

.footer__signature-box {
    width: 232px;
}

.footer__signature {
    margin-bottom: 16px;

    font-family: var(--secondary-font-family);
    @include font(18px, 21px, 400);

    text-transform: uppercase;

    color: var(--secondary-accent-color);
}

.footer__signature-part {
    margin-bottom: 40px;

    font-family: var(--secondary-font-family);
    @include font(34px, 39px, 400);

    text-transform: uppercase;

    color: var(--primary-accent-color);
}

.footer__contacts {
    display: flex;
}

.footer__social-list {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 40px;
}

.footer__social-item {
    &:not(:last-child) {
        margin-right: 30px;
    }
}

.footer__social-icon {
    fill: var(--secondary-accent-color);
    transition: fill 250ms var(--primary-cubic-bezier);

    .footer__social-link:hover &,
    .footer__social-link:focus & {
        fill: var(--primary-accent-color);
    }
}

.footer__contact {
    font-family: var(--primary-font-family);
    @include font(12px, 22px, 700);
    color: var(--text-color-theme-light);
    text-align: end;
    font-style: normal;
    letter-spacing: 0.01em;
}

.footer__tel {
    color: var(--primary-accent-color);
}

.footer__copyright {
    border-top: 1px solid #E1E1E1;
    padding-top: 16px;
}

.footer__copyright-container {
    display: flex;
    justify-content: center;
}

.footer__copyright-text {
    width: 150px;
    font-family: var(--primary-font-family);
    @include font(14px, 21px, 700);
    text-align: center;
    color: var(--text-color-secondary);
}

//Tablet

@media screen and (min-width: 768px) {
    .footer__box {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .footer__signature-box {
        width: 340px;
    }

    .footer__signature {
        @include font(26px, 30px, 400);
    }

    .footer__signature-part {
        margin-bottom: 0;

        @include font(48px, 55px, 400);
    }

    .footer__social-icon {
        width: 34px;
        height: 34px;
    }

    .footer__contact {
        @include font(14px, 26px, 700);
    }

    .footer__copyright {
        padding-top: 8px;
    }

    .footer__copyright-text {
        width: 278px;
        @include font(14px, 26px, 700);
        letter-spacing: 0.02em;
    }
}

//Desktop

@media screen and (min-width: 1280px) {
    .footer {
        padding-top: 120px;
    }

    .footer__box {
        margin-bottom: 60px;
    }

    .footer__signature-box {
        width: 480px;
    }

    .footer__signature {
        @include font(30px, 34px, 400);
    }

    .footer__signature-part {
        @include font(58px, 66px, 400);
    }

    .footer__contact {
        @include font(16px, 30px, 700);
    }

    .footer__copyright {
        padding-top: 7px;
    }
}