.gallery {
    min-height: 136px;
    background-image: linear-gradient(to bottom,
            #FFF5F6 20%,
            var(--text-color-theme-dark) 20%);
}

.gallery .container {
    padding: 0;
}

.gallery__title {
    font-family: var(--secondary-font-family);
    @include font(34px, 40px, 400);
    text-align: center;
    text-transform: uppercase;
    color: var(--primary-accent-color);
    margin-bottom: 32px;
}

.row {
    display: flex;
    justify-content: center;
    text-align: center;
}

.gallery__item {
    display: block;

    &:not(:last-child) {
        margin-right: 1px;
    }

}

.gallery__picture {
    display: block;

    &:not(:last-child) {
        display: block;
        margin-bottom: 1px;
    }
}

.gallery__picture-1 {
    padding-top: 95%;
}

.gallery__picture-2-3 {
    padding-top: 60%;
}

.gallery__picture-6-7 {
    padding-top: 65%;
}

.gallery__picture-8-9 {
    padding-top: 45%;
}

.gallery__picture-10 {
    padding-top: 100%;
}

.gallery__img {
    max-width: 44px;
    max-height: 44px;
    transition: transform 500ms var(--primary-cubic-bezier);
    
        &:hover,
        &:focus {
            transform: perspective(500px) rotateY(20deg);
    
    
        }
}

.gallery__img-4 {
    max-width: 88px;
    max-height: 88px;
    transition: transform 500ms var(--primary-cubic-bezier);
    
        &:hover,
        &:focus {
            transform: perspective(500px) rotateY(10deg);
    
    
        }
}

@media screen and (min-width: 768px) {
    .gallery__picture:not(:last-child) {
        margin-bottom: 3px;
    }

    .gallery__item:not(:last-child) {
        margin-right: 3px;
    }

        .gallery__img {
            min-width: 105px;
            min-height: 105px;
        }
    
        .gallery__img-4 {
            min-width: 215px;
            min-height: 215px;
        }
}


@media screen and (min-width: 1280px) {
    .gallery__picture:not(:last-child) {
        margin-bottom: 4px;
    }

    .gallery__item:not(:last-child) {
        margin-right: 4px;
    }

        .gallery__img {
            min-width: 138px;
            min-height: 138px;
        }
    
        .gallery__img-4 {
            min-width: 283px;
            min-height: 283px;
        }
}